<h1><%= @place["name"] %></h1>

<!-- This loop is supposed to save and show
relevant data for each post; i cannot figure out how
to get my posts to save for each city--->

<% for post in @posts %>
  <p><h2><%= post["title"] %></h2></p>
  <p><%= post["posted_on"] %></p>  
  <p><%= post["description"] %></p> 
<% end %>

<p><a href="/posts/new?place_id=<%= @place.id %>">Create a new post</a></p>
<p><a href="/places/">Back to Places</a></p>
